version: '3.8'

services:
  app:
    image: ear-defender-connector-app:latest
    container_name: connector-app
    restart: always
    ports:
      - "9090:8080"
    environment:
      SPRING_DATA_MONGODB_URI: mongodb://mongo:27017/ear_defender_database
    depends_on:
      - mongo

  mongo:
    image: mongo:latest
    container_name: mongo
    restart: always
    volumes:
      - mongo_data:/data/db
    ports:
      - "27017:27017"

volumes:
  mongo_data:
